.page__wrapper {
   margin: 10px 0;
   display: flex;
   justify-content: center;
}

.page {
   margin-right: 5px;
   padding: 10px;
   border: 1px solid teal;
   background: teal;
   cursor: pointer;
   border-radius: 5px;
}

.page__current {
   border: 2px solid #fff;
   font-weight: bold;
}

.page:hover {
   background: #fff;
   color: teal;
}
